h1, h2, h3, h4, h5, h6
  margin 0 0 0.15em 0
  padding 0px
  font-weight 100
  $raleway()


h1
  $rem(50px)
  font-weight 100
  margin-bottom 0.25em

h2
  $rem(40px)

h3
  $rem(30px)

h4
  $rem(20px)

h5
  $rem(16px)

h6
  $rem(12px)
