extends layouts/default

block content
  
  section.hero

    section.promo
      h1 Hello Gabba,
      h4 The totally free, totally awesome,
      h4 totally open-source chat platform.
      
      h3.slogan Chat, openly.
    
    section.atmos
