doctype html5
html(lang='en')
	include ../_inc/head
	body
		
		nav.main
			img(src="img/logo.png").logo
				
			ul.primary
				li.apps apps
				li.login login

		
		block content
			
		img(src="img/soon.png").soon
			
		include ../_inc/foot
